@media screen and (min-width: 951px) {

    #flickrembed_63 .ug-thumb-image.ug-trans-enabled,
    #flickrembed_63 .ug-thumb-overlay,
    #flickrembed_63 .ug-thumb-wrapper.ug-tile.ug-tile-clickable {
        border-radius: 6px;
    }
}

.testimonial.echipa {
    max-width: 300px;
}

@media screen and (max-width: 626px) {
    .testimonial {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}