.embedGallery,
.embedGallery .ug-item-wrapper {
    width: 100% !important;
    max-width: 2000px;
}

.ug-tile-navigation-wrapper {
    display: none;
}

.ug-thumb-wrapper.ug-tile {
    box-shadow: 1px 1px 3px 0px rgba(31, 0, 46, 0.35);
}