header {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;
    bottom: auto;
    background-color: #f8f9fb;
    padding-bottom: 8px;
    display: flex;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(31, 0, 46, 0.35);
    box-shadow: 1px 1px 3px 0px rgba(31, 0, 46, 0.35);
    /* rgba(76, 0, 112, 0.35) */
}

header>div {
    z-index: 1;
}

header p {
    width: 180px;
    padding: 0;
    padding-right: 8px;
    margin: 0;
    margin-top: -8px;
    text-align: right;
    font-family: "Rubik", sans-serif;
    color: rgba(0, 0, 0, 0.9);
}

.logoWSC {
    width: 180px;
    height: 66px;
    background: url("../img/Logo/WS-Cover.png");
    background-size: 181% auto !important;
    background-position: center;
    position: relative;
    z-index: 4;
}

.firstSection {
    padding-top: calc(79px + 3px);
}

.t20 {
    padding-bottom: 3px;
}

@media screen and (min-width: 651px) {
    header {
        justify-content: center;
        align-items: center;
    }

    .firstSection {
        padding-top: calc(85px + 3px);
    }

    .t20 {
        padding-bottom: 3px;
    }

}

@media screen and (max-width: 650px) {

    .logoWSC {
        background-size: 120% auto !important;
    }

    header p {
        font-size: 12px;
        padding-right: 35px;
        margin-top: -14px;
    }
}