.optiuniInitial,
.optiuniList>div {
    min-height: 80px;
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    /* border: 1px solid black; */
}



.optiuniInitial>div {
    /* display: inline-block; */
    /* padding: 20px; */
    padding: 0 20px;
}

.optiuniList>div {
    /* padding: 20px; */
    /* margin: 20px 0; */
    min-width: 100px;
    max-width: 100px;
    margin: 20px;
}

.displayNone,
.optiuniAjutor {
    display: none !important;
}

.optiuniInitial {
    position: relative;
    flex-flow: row;
}

.optiuniList {
    /* position: absolute; */
    /* top: -52px; */
    /* top: -20px; */
    /* right: 0; */
    /* left: 0; */
    /* bottom: 0; */
    padding: 0 !important;
    /* margin: 0; */
    z-index: 999;

    position: fixed;
    top: 0;
    right: auto;
    bottom: 0;
    left: auto;
    max-width: 582px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: wrap;
}

.optiuniListBackground {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background-color: #e5e6f3;
}