.w600 {
    max-width: 600px;
}

.galerieCaruselParinte {
    width: 100%;
    position: relative;
    z-index: 1;
    padding-top: 66.66%;
}

.galerieCarusel {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: url("../img/Testimoniale/T1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 6px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.testimonial {
    padding: 33px;
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 440px;
    border-radius: 5px;
    margin: -12% auto 33px;
    box-shadow: 0 13px 30px 0 rgba(0, 0, 0, 0.08);
    background-color: #fafcfd;
}

.testimonial h3 {
    padding-right: 0;
    font-size: 90%;
}

.testimonial h4 {
    padding-left: 0;
    font-size: 80%;
    /* color: #C77485; */
    color: #060d57;
}

.testimonial p {
    margin-left: 0;
    padding-left: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 200%;
}

.selectTestimonial {
    display: flex;
    justify-content: center;
}

.avatarLogoMic {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    /* background-color: red; */
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12);
    margin: 0 22px 33px 22px;
}

.avatarLogoMic {
    /* background-size: 100%;
    background-repeat: no-repeat; */
    margin: 6px 28px 39px 28px;
}

.avatarLogoMic:nth-child(1),
.avatarLogoMic:nth-child(2) {
    /* background: url("../img/Testimoniale/Pentru\ IG/Portret/Testimonial -  Florin Vatamanu.jpg"); */
    background: url("../img/Testimoniale/T1A.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.avatarLogoMic:nth-child(1) {
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

.avatarLogoMicActiv {
    border-top: 6px solid #e5e6f3;
    border-right: 6px solid #ff9323;
    border-bottom: 6px solid #e5e6f3;
    border-left: 6px solid #ff9323;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0), 0 2px 2px 0 rgba(0, 0, 0, 0),
        0 3px 1px -2px rgba(0, 0, 0, 0);
    margin: 0 22px 33px 22px;
}

@media screen and (max-width: 950px) {

    .testimonial,
    .galerieCaruselParinte,
    .galerieCarusel {
        border-radius: 0;
    }

    p {
        margin-left: 0;
    }
}

@media screen and (max-width: 626px) {
    .testimonial {
        box-sizing: border-box;
        margin-left: 22px;
        margin-right: 22px;
        /* border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px; */
        width: calc(100% - 44px);
        right: 0;
        left: 0;
    }
}