html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  /* max-width: 1200px; */
  margin: auto;
  font-family: "Roboto", sans-serif;
  /* font-family: 'Mukta', sans-serif; */
  /* font-family: 'Noto Sans', sans-serif; */
  background-color: #e5e6f3;
  /* font-family: 'Rubik', sans-serif; */
  /* font-family: 'Playfair Display', serif; */

  color: #3e3d77;
  overflow-x: hidden;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
}

/* PALLETE */
.palette {
  color: #fafcfd;
  color: #e5e6f3;
  color: #3e3d77;
  color: #241b99;
  color: #493545;
  color: #c57283;
  color: #c77485;
  color: #fafcfd;
  color: #3e3d77;
  color: #565387;
  color: #e5e6f3;
  /* body-background */
  color: #e5e6f3;
  color: #ff9323;

  color: #F8F9FB;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

section>* {
  width: 100%;
  /* max-width: 1200px; */
  max-width: 582px;
}

.copertaGri {
  background-color: #F8F9FB;
  padding-bottom: 66px;
}

.copertaMov {
  background-color: #e5e6f3;
  padding-bottom: 66px;
}

.copertaAlbastra {
  background-color: rgba(83, 135, 245, 0.1);
  padding-bottom: 66px;
  /* #5387F5 */
  /* #A3D6FF; */
  /* #3A2CF2; */
  /* #241B99; */
}


/* body>div {
    width: calc(100% - 66px);
    margin: 0;
} */

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0 25px;
  opacity: 0.9;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}

h1 {
  /* font-weight: 400;
    font-size: 3.5rem;
    letter-spacing: -.03125rem;
    line-height: 4rem; */
  font-family: "Rubik", sans-serif;

  /* font-family: 'Playfair Display', serif; */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 34px;
  /* margin-bottom: 40px; */
  margin: 3px 0;

  /* color: #241B99; */
  color: #3e3d77;
  max-width: 500px;
  text-align: center;
}

h2 {
  margin-top: 0;
  /* margin-left: 66px; */

  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #493545;
  margin-left: 13px;
}

h3 {
  /* color: #F57C21; */
  color: #ff9323;
  font-size: 26px;
}

h3,
h4,
h5 {
  display: inline-block;
}

h5 {
  font-size: 17px;
}

p {
  margin-left: 33px;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.navigatie {
  height: 66px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 66px);
  padding: 0 33px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.navigatie>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigatie>div>a>p {
  /* padding: 11px 0; */
  padding: 21px 0;
  margin: 0 22px;
  color: #3c4043;
}

.navigatie>div>a>p.selectat {
  border-bottom: 2px solid#F57C21;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}

.navigatie>div>a>button {
  height: 46px;
  font-size: 16px;
}

/* .cuprins {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    max-width: 600px;
    width: 100%;
} */

.logoWS {
  /* width: 412px; */
  /* height: 172px; */
  width: 158.5px;
  height: 66px;
  background: url("../img/Logo/logo10.png");
}

.logoWSC {
  /* width: 400px; */
  /* height: 147px; */
  /* margin-top: 66px; */
  margin-top: 160px;
  width: 180px;
  height: 66px;
  background: url("../img/Logo/WS-Cover.png");
  /* background: url("../img/Logo/WS\ White\ STRONG.png"); */
  /* WS White STRONG.png  */
  background-size: 181% auto !important;
  background-position: center;
  /* margin-bottom: 36px; */
  position: relative;
  z-index: 4;
}

.logoWSC p {
  position: absolute;
  top: auto;
  left: auto;
  right: -18px;
  bottom: -32px;
  /* font-family: 'Mukta', sans-serif; */
  font-family: "Rubik", sans-serif;
  color: rgba(0, 0, 0, 0.9);
  /*   color: rgba(255, 255, 255, 0.9); */
}

@media screen and (max-width: 650px) {
  .logoWSC {
    margin-top: 40px;
    background-size: 120% auto !important;
  }

  .logoWSC p {
    font-size: 12px;
    right: 11px;
    bottom: -12px;
  }
}

.logo {
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.introducere {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* margin: 99px 0; */
  margin: 66px 0 33px;
}

.logoWSText {
  /* font-family: 'Mukta', sans-serif; */
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  padding: 11px 22px;
  color: rgba(0, 0, 0, 0.7);
  opacity: 0.9;
  line-height: 30px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
}

.start {
  align-items: center;
}

.start>div>h1 {
  text-align: left;
}

.start>div:nth-child(2)>h1 {
  color: #493545;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pret {
  /* color: #241B99; */
  /* color: #565388; */
  /* color: #D42323; */
  color: #f9d01c;
  font-family: lato;
  font-size: 20px;
  color: #fafcfd;
  color: #e5e6f3;
  color: #3e3d77;
  color: #241b99;

  color: #fafcfd;
  color: #3e3d77;
  color: #565387;
  color: #e5e6f3;
  /* body-background */
  color: #e5e6f3;
  color: #ff9323;

  color: #c77485;
  color: #c57283;
  color: #493545;
  color: #c57283;
  color: #ced2df;
  color: #1fa0fe;
  color: #21b866;
  color: rgba(0, 0, 0, 0.7);
}

/* telefon */
.hero {
  /* width: 100%; */
  /* max-width: 1200px; */
  /* max-width: 400px; */
  /* ratie 2.07 */
  /* padding-top: 66.66%; */
  padding-top: 56.66% !important;
  /* height: 528px; */
  /* margin: 33px; */
  /* border-radius: 5px; */
  position: relative;
  /* margin-bottom: 66px; */
  /* background: url('IMG_0644.png'); */
  width: 100%;
  /* max-width: 2048px; */
  /* min-height: 1365.3px; */
  height: 0;
  margin: auto;
}

/* @media screen and (min-width: 1200px) {
  .hero {
    padding-top: 0;
    height: 600px;
    height: 383px;
  }
} */

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 0 !important;
    height: 600px;
  }

  .logoWSC {
    margin-top: 365px !important;
  }
}

.hero>div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  /* background: url("../img/Social/Telefon.png"); */
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: top center !important;
  /* background-color: rgba(229, 230, 243, 0.5) !important; */
  /* background-color: rgba(250, 252, 253, 0.5) !important; */
  /* background-color: rgba(73, 53, 69, 0.5) !important; */
  /* background-color: rgba(0, 0, 0, 0.7) !important; */
  background-blend-mode: overlay;
  background-size: cover !important;
}

.heroGtradient {
  /* background-image: radial-gradient(black 0%, transparent 100%); */
  /*   background-image: radial-gradient(#493545 0%, transparent 100%); */
  /* background-image: linear-gradient(transparent 58%, #F8F9FB 100%); */
  /* background-image: linear-gradient(transparent 40%, rgba(248, 249, 251, 0.8) 66%, rgba(248, 249, 251, 1) 100%); */
  background-image: linear-gradient(transparent 40%, rgba(248, 249, 251, 0.8) 66%, rgba(248, 249, 251, 0.9) 74%, rgba(248, 249, 251, 1) 90%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* bottom: 0; */
  bottom: -10px;
  /* opacity: 0.2; */
  z-index: 3;
}

.parinteFotografiiHero {
  /* max-width: 1200px; */
  max-width: 582px;
  margin: 33px;
  border-radius: 6px;
  position: relative;
  padding-top: 100% !important;
  margin: 0;
  width: 100% !important;
}

.fotografiiHero {
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 6px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12);
  background-size: cover !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}

.cardPocketEchipa>img,
.cardPocketFotografii>img {
  border-radius: 6px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12);
  margin: 0 22px;
}

@media screen and (max-width: 626px) {

  .cardPocketEchipa>img,
  .cardPocketFotografii>img {
    width: calc(100% - 44px) !important;
  }

  /* // .copertaImagine{
  // padding-bottom: 33px !important; 
  //} */
}

/* //@media screen and (max-width: 1200px) {

  //.fotografiiHero,
  //.cardPocketEchipa>img,
  //.cardPocketFotografii>img {
    //border-radius: 0;
    //box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0), 0 2px 2px 0 rgba(0, 0, 0, 0),
     // 0 3px 1px -2px rgba(0, 0, 0, 0);
 // }
//} */

img {
  /* max-width: 1200px; */
  max-width: 582px;
  width: 100%;
}

.storyGallery {
  display: flex;
  /* flex-flow: column; */
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.scrollToPacket {
  width: 40px;
  height: 40px;
  /* background: #49354579; */
  /* background: #ced2df; */
  background: rgba(206, 210, 223, 0.5);
  /* color: #ced2df; */
  /* color: #21B866; */
  color: #f68937;
  position: fixed;
  top: auto;
  bottom: 30px;
  right: 30px;
  left: auto;
  display: none;
}

.scrollToPacket:hover {
  color: white;
  background: rgba(206, 210, 223, 0.9);
}

.scrollHidden {
  overflow: hidden;
}

.storyTitle {
  text-align: center;
  /* text-transform: uppercase; */
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 180%;
  margin-left: 0;
  font-weight: 500;
}

/* .scrollToPacketTarget {
  display: none;
} */


/* 500 */
.storyGallery.cardPocketEchipa>img:nth-child(1) {
  content: url("../img/Echipa/500/echipa-01.jpg");
}

/* 1200 */
.storyGallery.cardPocketEchipa>img:nth-child(1) {
  content: url("../img/Echipa/1200/echipa-01.jpg");
}

/* 500 */
.storyGallery.cardPocketFotografii>img:nth-child(1) {
  content: url("../img/Fotografia/IMG_4054.jpg");
}

/* 1200 */
.storyGallery.cardPocketFotografii>img:nth-child(1) {
  content: url("../img/Fotografia/IMG_4054.jpg");
}


/* 500 */
.storyGallery.cardPocketNunta>img:nth-child(1) {
  content: url("../img/Normal/Cuplu/500/\ (1).jpg");
}

.storyGallery.cardPocketNunta>img:nth-child(2) {
  content: url("../img/Normal/Cuplu/500/\ (2).jpg");
}

.storyGallery.cardPocketNunta>img:nth-child(3) {
  content: url("../img/Normal/Cuplu/500/\ (3).jpg");
}

.storyGallery.cardPocketNunta>img:nth-child(4) {
  content: url("../img/Normal/Cuplu/500/\ (4).jpg");
}

.storyGallery.cardPocketNunta>img:nth-child(5) {
  content: url("../img/Normal/Cuplu/500/\ (5).jpg");
}

.storyGallery.cardPocketNunta>img:nth-child(6) {
  content: url("../img/Normal/Cuplu/500/\ (6).jpg");
}

.storyGallery.cardPocketNunta>img:nth-child(7) {
  content: url("../img/Normal/Cuplu/500/\ (7).jpg");
}

.storyGallery.cardPocketNunta>img:nth-child(8) {
  content: url("../img/Normal/Cuplu/500/\ (8).jpg");
}

.storyGallery.cardPocketNunta>img:nth-child(9) {
  content: url("../img/Normal/Cuplu/500/\ (9).jpg");
}

.storyGallery.cardPocketNunta>img:nth-child(10) {
  content: url("../img/Normal/Cuplu/500/\ (10).jpg");
}

.storyGallery.cardPocketNunta>img:nth-child(11) {
  content: url("../img/Normal/Cuplu/500/\ (11).jpg");
}

.storyGallery.cardPocketNunta>img:nth-child(12) {
  content: url("../img/Normal/Cuplu/500/\ (12).jpg");
}

.storyGallery.cardPocketNunta>img:nth-child(13) {
  content: url("../img/Normal/Cuplu/500/\ (13).jpg");
}

.storyGallery.cardPocketNunta>img:nth-child(14) {
  content: url("../img/Normal/Cuplu/500/\ (14).jpg");
}

.storyGallery.cardPocketNunta>img:nth-child(15) {
  content: url("../img/Normal/Cuplu/500/\ (15).jpg");
}

/* 1200 */
@media screen and (min-width: 499px) {
  .storyGallery.cardPocketNunta>img:nth-child(1) {
    content: url("../img/Normal/Cuplu/1200/\ (1).jpg");
  }

  .storyGallery.cardPocketNunta>img:nth-child(2) {
    content: url("../img/Normal/Cuplu/1200/\ (2).jpg");
  }

  .storyGallery.cardPocketNunta>img:nth-child(3) {
    content: url("../img/Normal/Cuplu/1200/\ (3).jpg");
  }

  .storyGallery.cardPocketNunta>img:nth-child(4) {
    content: url("../img/Normal/Cuplu/1200/\ (4).jpg");
  }

  .storyGallery.cardPocketNunta>img:nth-child(5) {
    content: url("../img/Normal/Cuplu/1200/\ (5).jpg");
  }

  .storyGallery.cardPocketNunta>img:nth-child(6) {
    content: url("../img/Normal/Cuplu/1200/\ (6).jpg");
  }

  .storyGallery.cardPocketNunta>img:nth-child(7) {
    content: url("../img/Normal/Cuplu/1200/\ (7).jpg");
  }

  .storyGallery.cardPocketNunta>img:nth-child(8) {
    content: url("../img/Normal/Cuplu/1200/\ (8).jpg");
  }

  .storyGallery.cardPocketNunta>img:nth-child(9) {
    content: url("../img/Normal/Cuplu/1200/\ (9).jpg");
  }

  .storyGallery.cardPocketNunta>img:nth-child(10) {
    content: url("../img/Normal/Cuplu/1200/\ (10).jpg");
  }

  .storyGallery.cardPocketNunta>img:nth-child(11) {
    content: url("../img/Normal/Cuplu/1200/\ (11).jpg");
  }

  .storyGallery.cardPocketNunta>img:nth-child(12) {
    content: url("../img/Normal/Cuplu/1200/\ (12).jpg");
  }

  .storyGallery.cardPocketNunta>img:nth-child(13) {
    content: url("../img/Normal/Cuplu/1200/\ (13).jpg");
  }

  .storyGallery.cardPocketNunta>img:nth-child(14) {
    content: url("../img/Normal/Cuplu/1200/\ (14).jpg");
  }

  .storyGallery.cardPocketNunta>img:nth-child(15) {
    content: url("../img/Normal/Cuplu/1200/\ (15).jpg");
  }
}

/* 500 */
.storyGallery.cardPocketBotez>img:nth-child(1) {
  content: url("../img/Normal/Botez/500//3.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(2) {
  content: url("../img/Normal/Botez/500//8.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(3) {
  content: url("../img/Normal/Botez/500//9.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(4) {
  content: url("../img/Normal/Botez/500//10.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(5) {
  content: url("../img/Normal/Botez/500//13.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(6) {
  content: url("../img/Normal/Botez/500//14.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(7) {
  content: url("../img/Normal/Botez/500//16.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(8) {
  content: url("../img/Normal/Botez/500//21.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(9) {
  content: url("../img/Normal/Botez/500//24.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(10) {
  content: url("../img/Normal/Botez/500//26.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(11) {
  content: url("../img/Normal/Botez/500//28.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(12) {
  content: url("../img/Normal/Botez/500//29.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(13) {
  content: url("../img/Normal/Botez/500//30.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(14) {
  content: url("../img/Normal/Botez/500//32.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(15) {
  content: url("../img/Normal/Botez/500//33.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(16) {
  content: url("../img/Normal/Botez/500//34.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(17) {
  content: url("../img/Normal/Botez/500//35-0.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(18) {
  content: url("../img/Normal/Botez/500//35-1.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(19) {
  content: url("../img/Normal/Botez/500//35-2.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(20) {
  content: url("../img/Normal/Botez/500//36-0.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(21) {
  content: url("../img/Normal/Botez/500//36-1.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(22) {
  content: url("../img/Normal/Botez/500//37.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(23) {
  content: url("../img/Normal/Botez/500//38.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(24) {
  content: url("../img/Normal/Botez/500//39.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(25) {
  content: url("../img/Normal/Botez/500//42.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(26) {
  content: url("../img/Normal/Botez/500//43-0.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(27) {
  content: url("../img/Normal/Botez/500//43-1.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(28) {
  content: url("../img/Normal/Botez/500//43-2.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(29) {
  content: url("../img/Normal/Botez/500//44.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(30) {
  content: url("../img/Normal/Botez/500//47.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(31) {
  content: url("../img/Normal/Botez/500//48.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(32) {
  content: url("../img/Normal/Botez/500//54.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(33) {
  content: url("../img/Normal/Botez/500//55.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(34) {
  content: url("../img/Normal/Botez/500//56.jpg");
}

.storyGallery.cardPocketBotez>img:nth-child(35) {
  content: url("../img/Normal/Botez/500//57.jpg");
}

/* 1200 */
@media screen and (min-width: 499px) {
  .storyGallery.cardPocketBotez>img:nth-child(1) {
    content: url("../img/Normal/Botez/1200/3.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(2) {
    content: url("../img/Normal/Botez/1200/8.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(3) {
    content: url("../img/Normal/Botez/1200/9.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(4) {
    content: url("../img/Normal/Botez/1200/10.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(5) {
    content: url("../img/Normal/Botez/1200/13.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(6) {
    content: url("../img/Normal/Botez/1200/14.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(7) {
    content: url("../img/Normal/Botez/1200/16.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(8) {
    content: url("../img/Normal/Botez/1200/21.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(9) {
    content: url("../img/Normal/Botez/1200/24.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(10) {
    content: url("../img/Normal/Botez/1200/26.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(11) {
    content: url("../img/Normal/Botez/1200/28.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(12) {
    content: url("../img/Normal/Botez/1200/29.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(13) {
    content: url("../img/Normal/Botez/1200/30.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(14) {
    content: url("../img/Normal/Botez/1200/32.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(15) {
    content: url("../img/Normal/Botez/1200/33.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(16) {
    content: url("../img/Normal/Botez/1200/34.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(17) {
    content: url("../img/Normal/Botez/1200/35-0.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(18) {
    content: url("../img/Normal/Botez/1200/35-1.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(19) {
    content: url("../img/Normal/Botez/1200/35-2.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(20) {
    content: url("../img/Normal/Botez/1200/36-0.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(21) {
    content: url("../img/Normal/Botez/1200/36-1.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(22) {
    content: url("../img/Normal/Botez/1200/37.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(23) {
    content: url("../img/Normal/Botez/1200/38.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(24) {
    content: url("../img/Normal/Botez/1200/39.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(25) {
    content: url("../img/Normal/Botez/1200/42.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(26) {
    content: url("../img/Normal/Botez/1200/43-0.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(27) {
    content: url("../img/Normal/Botez/1200/43-1.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(28) {
    content: url("../img/Normal/Botez/1200/43-2.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(29) {
    content: url("../img/Normal/Botez/1200/44.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(30) {
    content: url("../img/Normal/Botez/1200/47.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(31) {
    content: url("../img/Normal/Botez/1200/48.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(32) {
    content: url("../img/Normal/Botez/1200/54.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(33) {
    content: url("../img/Normal/Botez/1200/55.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(34) {
    content: url("../img/Normal/Botez/1200/56.jpg");
  }

  .storyGallery.cardPocketBotez>img:nth-child(35) {
    content: url("../img/Normal/Botez/1200/57.jpg");
  }
}