.socialMedia {
    width: calc(100% - 66px);
    margin: 33px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

/* telefon */
.mediaTelefonParinte {
    width: 100%;
    /* max-width: 1200px; */
    max-width: 400px;
    /* ratie 2.07 */
    padding-top: 48.18%;
    /* height: 528px; */
    /* margin: 33px; */
    border-radius: 5px;
    position: relative;
    margin-bottom: 66px;
}

.mediaTelefon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: url("../img/Social/Telefon.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.mediaTelefonVideo {
    position: absolute;
    /* -0.05 */
    /* top: 5.72%;
    right: 7.01%;
    bottom: 5.76%;
    left: 7.66%; */
    top: 5.41%;
    right: 6.96%;
    bottom: 5.61%;
    left: 7.55%;
    content: '';
    /* +0.05 */
    height: 89.06%;
    width: 85.55%;
    /* background-color: red; */
    background-size: 100%;
    background-repeat: no-repeat;
    /* border-radius: 6px; */
    /* de facut ecran negru */
    border: 0;
}

/* tv */
.mediaTVParinte {
    width: 100%;
    /* max-width: 1200px; */
    max-width: 800px;
    /* ratie 1.09 */
    padding-top: 64.51%;
    /* height: 528px; */
    /* margin: 33px; */
    border-radius: 5px;
    position: relative;
    margin-bottom: 66px;
    /* perspective: 224px; */
}

.mediaTV {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: url("../img/Social/TV.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.mediaTVVideo {
    position: absolute;
    /* -0.05 */
    /* top: 5.72%;
    right: 7.01%;
    bottom: 5.76%;
    left: 7.66%; */
    top: 2.5%;
    left: 1.5%;
    content: '';
    height: 84.30%;
    width: 96.8%;
    /* top: 13.00%;
    right: 28.96%;
    bottom: 5.61%;
    left: -3.1%;
    content: '';
    height: 67.92%;
    width: 84.6%;
    background-size: 100%; */
    background-repeat: no-repeat;
    /* border-radius: 6px; */
    /* de facut ecran negru */
    border: 0;
}

/* billboard */

.mediaBillboardParinte {
    width: 100%;
    max-width: 1200px;
    /* ratie 1.09 */
    padding-top: 66.66%;
    /* height: 528px; */
    /* margin: 33px; */
    border-radius: 5px;
    position: relative;
    margin-bottom: 66px;
    /* perspective: 224px; */
}

.mediaBillboard {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: url("../img/Social/Billboard.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.mediaBillboardVideo {
    position: absolute;
    top: 21.3%;
    left: 27.5%;
    content: '';
    height: 42.4%;
    width: 42.7%;
    background-repeat: no-repeat;
    /* border-radius: 6px; */
    /* de facut ecran negru */
    border: 0;
}